article {
    text-align: center;
}

article#description {
    width: 60%;
    margin: 48px 20% 0 20%;

    & span {
        text-align: center;
        font-size: 26px;
    }
}

article#aboutMe {
    width: 40%;

    margin: 12% 30% 0 30%;
   
    & h1 {
        font-size: 48px;
    }

    & span {
        width: 50%;

        font-size: 20px;
    }

    & iframe {
        aspect-ratio: 16/9;
        width: 480px;

        position: absolute;
        top: calc(48px + 12% + 12%);
        right: 4%;

        z-index: -1;
    }
}

div#helpfulRecources {
    width: 90%;
    height: auto;

    margin: 8% 5% 0 5%;

    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: center;

    & h1, h2 {
        width: 100%;
        /* when I delete this it breaks for some reason??? guess I'm getting coconut.png'd */
        text-align: center;
    }

    & article {
        width: 30%;
        height: auto;

        margin: 0% 1% 1% 1%;
        
        background-color: #454545;

        border: solid 8px #454545;
        border-radius: 20px;

        & > a {
            color: #FFF;
            text-decoration: none;
            font-size: 24px;

            &:hover {
                text-decoration: underline;

                & img {
                    opacity: 1;
                    visibility: visible;
                }
            }

            & img {
                width: 22px;

                transform: translate(0, 2px);

                opacity: 0;
                visibility: none;
            }
        }
    }

}

article#specialThanks {
    width: 40%;
    margin: 10% 30% 8% 30%;

    font-size: 26px;

    & h2 {
        font-size: 38px;
    }

    & span {
        width: 40%;
        text-align: center;

        & ul {
            padding: 0;

            list-style: none;

            & li {
                margin: 8px 0 0 0;
            }
        }
    }

}