article {
    text-align: center;
}

article#description {
    width: 60%;
    margin: 48px 20% 0 20%;

    & span {
        text-align: center;
        font-size: 24px;
    }
}

article#aboutMe {
    width: 40%;

    margin: 12% 30% 0 30%;
   
    & h1 {
        font-size: 48px;
    }

    & span {
        width: 50%;

        font-size: 20px;
    }

    & iframe {
        aspect-ratio: 16/9;
        width: 480px;

        position: absolute;
        top: 30%;
        right: 4%;
    }
}

div#helpfulRecources {
    width: 80%;
    height: auto;

    margin: 8% 10% 0 10%;

    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: center;

    & h1 {
        width: 100%;
        /* when I delete this it breaks for some reason??? guess I'm getting coconut.png'd */
        text-align: center;
    }

    & article {
        width: 26.5%;
        height: auto;

        margin: 1% 2%;
        
        background-color: #454545;

        border: solid 8px #454545;
        border-radius: 20px;

        & > a {
            color: #FFF;
            text-decoration: none;
            font-size: 22px;
        }
    }

}

article#specialThanks {
    width: 40%;
    margin: 96px 30% 96px 30%;

    & ul {
        list-style: none;
    }
}